/* 화면너비 1024px 이상 */
@media (min-width: 1025px) and (max-width: 1800px) {
  #visual .circle {
    width: 500px;
    height: 500px;
  }
  #visual .circle .face .eyes > div {
    max-width: 150px;
    max-height: 150px;
  }
  .con1 .circle {
    width: 50%;
  }
  .con1 .circle .bgOrange {
    width: 100%;
  }
  .con1 .circle .bgOrange > div {
    border-radius: 0%;
  }
  .con1 .circle .lineWhite {
    display: none;
  }

  .con1 .txtwrap {
    border: 0px;
  }
}

/* 화면너비 최대 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .mouse {
    display: none;
  }
  .scroll_nav {
    display: none;
  }

  /* header */
  #header {
    width: 100%;
    height: 500px;
  }
  #header .inner {
    height: 100%;
  }
  #header .inner h1 {
    height: 100%;
  }
  #header .inner img {
    height: 100%;
    display: block;
    margin: 0px auto;
  }

  /* visual */
  #visual {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 50px 0px;
    position: relative;
  }
  #visual .inner {
    width: 80%;
    height: 100%;
  }
  #visual .txtbox .title {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
  }
  #visual .mtxt {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 50px;
  }
  #visual .txtbox span {
    line-height: 25px;
  }
  /* circle */
  #visual .circle {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0%;
    left: 30%;

    cursor: grab;
  }
  #visual .circle .inner {
    width: 100%;
    height: 100%;

    border: 5px solid #000;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #fff 30%, #888);
    position: relative;
    transition: 0.5s;
    transform-origin: bottom center;
  }

  /* hat */
  #visual .circle .hat {
    width: 120%;
    height: 1%;
    max-height: 6px;

    position: absolute;
    top: 35%;
    right: 2%;
    background: #000;
    transform-origin: right bottom;
    transform: rotate(10deg);
    user-select: none;
  }

  /* face */
  #visual .circle .face {
    width: 70%;
    height: 50%;

    position: absolute;
    bottom: 15%;
    left: 5%;
    transform: translateY(-40%);
  }
  #visual .circle .face .eyes {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    position: relative;
  }
  #visual .circle .face .eyes > div {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: absolute;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #000;
    transform: translateY(-50%);
  }
  #visual.on .circle .face .eyes > div {
    animation: eyesClose 5s linear infinite;
  }
  @keyframes eyesClose {
    0% {
      height: 100%;
    }
    2% {
      height: 0;
    }
    4% {
      height: 100%;
    }
    6% {
      height: 0;
    }
    8% {
      height: 100%;
    }
  }

  #visual .circle .face .eyes .left {
    top: 70%;
    left: 0;
  }
  #visual .circle .face .eyes .right {
    top: 70%;
    right: 0;
  }

  #visual .circle .face .eyes > div p {
    width: 70%;
    height: 70%;
    position: relative;
  }
  #visual .circle .face .eyes p span {
    width: 40%;
    height: 40%;
    max-width: 70px;
    max-height: 70px;

    border-radius: 50%;
    background: #000;
    display: block;
    transition: 0.6s;
    position: absolute;
  }
  #visual .circle .face .eyes .left span {
    top: 50%;
    left: 50%;
  }
  #visual .circle .face .eyes .right span {
    top: 50%;
    right: 50%;
  }
  #visual .circle .face .lips {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    transform: translateY(-20%);
  }

  #visual .circle .face .lips.on {
    height: 20%;
  }
  #visual .circle .face .lips span {
    width: 5%;
    height: 30%;

    border-radius: 50%;
    background: #000;
    display: block;
  }

  /* con1 */
  .con1 {
    width: 100%;
    padding: 100px 40px;
    margin: 50px 0px;
    position: relative;
  }
  .con1 .inner {
    width: 100%;
  }
  .con1 .name {
    margin-bottom: 50px;
    padding-top: 30px;
    border-top: 1px solid #000;
  }
  .con1 .name .kr {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .con1 .name .eng {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .con1 .name .kr,
  .con1 .name span {
    line-height: 30px;
  }
  .con1 .inform h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    color: rgb(187, 134, 36);
    margin-top: 30px;
    border-top: 1px solid #000;
  }
  .con1 .inform p {
    line-height: 25px;
    margin-bottom: 20px;
    color: #999;
  }
  .con1 .ability h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    color: rgb(187, 134, 36);
    margin-top: 30px;
    border-top: 1px solid #000;
  }

  .con1 .txtwrap .txtbox .ability ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .con1 .txtwrap .txtbox .ability ul li {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .con1 .txtwrap .txtbox .ability ul li > div {
    width: 90%;
    height: 90%;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background: #ef844b;
    border: 4px solid #fff;
    border-radius: 20px;
  }

  /* con1 character */
  .con1 .character {
    width: 25%;
    height: 700px;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 50;
  }

  .con1 .character .charac_wrap {
    width: 50%;
    height: 90%;
    position: relative;
    transition: 0.5s;
    z-index: 99;
    cursor: grab;
  }

  .con1 .character .charac_wrap .charac_head {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;

    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .con1.on .character .charac_wrap .charac_head {
    animation: con1_charac_click 1.5s linear infinite;
  }
  @keyframes con1_charac_click {
    0% {
      bottom: 65%;
    }
    50% {
      bottom: 63%;
    }
    100% {
      bottom: 65%;
    }
  }

  .con1 .character .charac_wrap .charac_head .hat {
    width: 120%;
    height: 4px;
    max-height: 6px;

    position: absolute;
    top: 35%;
    right: 2%;
    background: #000;
    transform-origin: right bottom;
    transform: rotate(10deg);
    user-select: none;
  }
  .con1 .character .charac_wrap .charac_head .face {
    width: 70%;
    height: 50%;

    position: absolute;
    bottom: 0%;
    left: 5%;
    transform: translateY(-50%);
  }
  .con1 .character .charac_wrap .charac_head .face .eyes {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    position: relative;
  }
  .con1 .character .charac_wrap .charac_head .face .eyes p {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #000;
    transform: translateY(-50%);
  }
  .con1.on .character .charac_wrap .charac_head .face .eyes p {
    animation: eyesClose 5s linear infinite;
  }
  .con1 .character .charac_wrap.on .charac_head .face .eyes p span {
    transform: scale(0.5);
    transition: 0.2s;
  }

  .con1 .character .charac_wrap .charac_head .face .eyes .left {
    top: 50%;
    left: 0;
  }
  .con1 .character .charac_wrap .charac_head .face .eyes .right {
    top: 50%;
    right: 0;
  }
  .con1 .character .charac_wrap .charac_head .face .eyes span {
    width: 40%;
    height: 40%;
    max-width: 70px;
    max-height: 70px;

    border-radius: 50%;
    background: #000;
    display: block;
  }
  .con1 .character .charac_wrap .charac_head .face .eyes .left span {
    transform: translate(30%, 20%);
  }
  .con1 .character .charac_wrap .charac_head .face .eyes .right span {
    transform: translate(-30%, 20%);
  }
  .con1 .character .charac_wrap .charac_head .face .lips {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-40%);
  }
  .con1 .character .charac_wrap .charac_head .face .lips span {
    width: 5%;
    height: 30%;

    border-radius: 50%;
    background: #000;
    display: block;
  }
  .con1 .character .charac_wrap.on .charac_head .face .lips span {
    height: 10%;
    transition: 0.2s;
  }

  /* charac_body */
  .con1 .character .charac_wrap .charac_body {
    width: 170px;
    height: 300px;

    border: 3px solid #000;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: #fff;

    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
  }
  .con1.on .character .charac_wrap .charac_body {
    animation: con1_charac_body 1.5s linear infinite;
  }
  @keyframes con1_charac_body {
    0% {
      bottom: 13%;
    }
    50% {
      bottom: 11%;
    }
    100% {
      bottom: 13%;
    }
  }

  /* charac_hand */
  .con1 .character .charac_hand {
    width: 120%;
    height: 100%;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .con1 .character .charac_hand .left_hand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;
    display: block;

    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(-100%, 0%);
  }
  .con1 .character .charac_hand .right_hand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;
    display: block;

    position: absolute;
    top: 30%;
    right: 0%;
    transform: translate(100%, 0%);
  }

  /* charac_foot */
  .con1 .character .charac_wrap .charac_foot {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }

  .con1 .character .charac_wrap .charac_foot .footLeft {
    width: calc(100% / 2 - 5%);
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    background: #fff;
    border: 3px solid #000;
  }
  .con1 .character .charac_wrap .charac_foot .footRight {
    width: calc(100% / 2 - 5%);
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    background: #fff;
    border: 3px solid #000;
  }

  /* con2 */
  .con2 {
    margin: 50px 0px;
  }
  .con2 .inner {
    width: 100%;
  }
  .con2 .inner ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  .con2 .inner > ul li {
    width: 50%;
    height: 50%;

    position: relative;
  }
  .con2 .inner > ul li .shadow_wrap {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul li .shadow_wrap .shadow1 {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul li .shadow_wrap .shadow1 svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con2 .inner > ul li .shadow_wrap .shadow1 .st1 {
    width: 100%;
    height: 100%;
    fill: #595a5c;
    position: absolute;

    stroke: none;
  }

  .con2 .inner > ul li .con_box {
    width: 50%;
    height: 50%;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
  }
  .con2 .inner > ul li.on .con_box {
    width: 100%;
    height: 100%;
  }

  .con2 .inner > ul li .cBox1 {
    border: 10px solid #ffcd29;
  }
  .con2 .inner > ul li .cBox2 {
    border: 10px solid #559ed6;
  }
  .con2 .inner > ul li .cBox3 {
    border: 10px solid #8770b1;
  }
  .con2 .inner > ul li .cBox4 {
    border: 10px solid #f16a46;
  }
  .con2 .inner > ul li .cBox5 {
    border: 10px solid #29b35d;
  }
  .con2 .inner > ul li .cBox6 {
    border: 10px solid rgb(255, 121, 31);
  }

  /* con2 con_box */
  .con2 .inner > ul li .con_box .boxinner {
    overflow: hidden;
    position: relative;
  }
  .con2 .inner > ul li .con_box img {
    width: 100%;
  }
  .con2 .inner > ul li .con_box:hover img {
    transition: 0.5s;
    transform: scale(1.3);
  }
  .con2 .inner > ul li.on .con_box img {
    transform: scale(1.3);
  }
  .con2 .inner > ul li .con_box .more {
    width: 100%;
    padding: 20px 20px;
    color: #fff;
    background: #000;

    position: absolute;
    right: 0;
    transform: translateY(0%);
  }
  .con2 .inner > ul li.on .con_box .more {
    transition: 0.5s;
    transition-delay: 0.3s;
    transform: translateY(-100%);
    cursor: pointer;
  }
  .con2 .inner > ul li.on .con_box .more p {
    display: inline-block;
  }
  .con2 .inner > ul li .con_box .more span {
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin-top: 4px;
    transition: 0.5s;
  }
  .con2 .inner > ul li .con_box .more:hover p span {
    width: 100%;
  }

  /* con3 */
  .con3 {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 50px 0px;

    position: relative;
  }
  .con3 .inner {
    width: 100%;
    height: 100%;
    padding: 40px 0px;

    position: relative;
  }
  /* con3 character */
  .con3 .character {
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 40%;
    /* transform: rotateY(180deg); */
    transform: scale(0.7);
    opacity: 0.4;
  }
  .con3 .character .charac_wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .con3 .charac_hand {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
  .con3 .charac_hand .left_hand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;
    display: block;

    position: absolute;
    top: 45%;
    right: 10%;
    z-index: 1;
  }
  .con3.on .charac_hand .left_hand {
    animation: con3_charac_leftHand 1.5s infinite linear;
  }
  @keyframes con3_charac_leftHand {
    0% {
      top: 50%;
      right: 10%;
    }
    50% {
      top: 48%;
      right: 10%;
    }
    100% {
      top: 50%;
      right: 10%;
    }
  }
  .con3 .charac_hand .right_hand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;
    display: block;

    position: absolute;
    z-index: 1;
  }
  .con3.on .charac_hand .right_hand {
    animation: con3_charac_rightHand 1.5s infinite linear;
  }
  @keyframes con3_charac_rightHand {
    0% {
      top: -5%;
      left: 10%;
    }
    50% {
      top: 0%;
      left: 20%;
    }
    100% {
      top: -5%;
      left: 10%;
    }
  }
  .con3 .character .charac_wrap .charac_head {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom center;
  }
  .con3.on .character .charac_wrap .charac_head {
    animation: charac_head 1.5s linear infinite;
  }
  @keyframes charac_head {
    0% {
      top: 0%;
      transform: translateX(-50%) rotate(0deg);
    }
    50% {
      top: 2%;
      transform: translateX(-50%) rotate(5deg);
    }
    100% {
      top: 0%;
      transform: translateX(-50%) rotate(0deg);
    }
  }
  .con3 .character .charac_wrap .charac_head .hat {
    width: 120%;
    height: 4px;
    max-height: 6px;

    position: absolute;
    top: 35%;
    right: 1%;
    background: #000;
    transform-origin: right bottom;
    transform: rotate(10deg);
    user-select: none;
  }
  .con3.on .character .charac_wrap .charac_head .hat {
    top: 25%;
    right: 5%;
    transform: rotate(15deg);
    transition: 0.5s;
  }
  .con3 .character .charac_wrap .charac_head .face {
    width: 70%;
    height: 50%;

    position: absolute;
    bottom: 0%;
    left: 5%;
    transform: translateY(-50%);
  }
  .con3.on .character .charac_wrap .charac_head .face {
    transform: translateY(-70%);
    transition: 0.5s;
  }
  .con3 .character .charac_wrap .charac_head .face .eyes {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    position: relative;
  }
  .con3 .character .charac_wrap .charac_head .face .eyes p {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #000;
    transform: translateY(-50%);
  }
  .con3.on .character .charac_wrap .charac_head .face .eyes p {
    animation: eyesClose 5s linear infinite;
  }
  .con3 .character .charac_wrap .charac_head .face .eyes .left {
    top: 50%;
    left: 0;
  }
  .con3 .character .charac_wrap .charac_head .face .eyes .right {
    top: 50%;
    right: 0;
  }
  .con3 .character .charac_wrap .charac_head .face .eyes span {
    width: 40%;
    height: 40%;
    max-width: 70px;
    max-height: 70px;

    border-radius: 50%;
    background: #000;
    display: block;
  }
  .con3 .character .charac_wrap .charac_head .face .eyes .left span {
    transform: translate(-40%, -20%);
  }
  .con3 .character .charac_wrap .charac_head .face .eyes .right span {
    transform: translate(-40%, -20%);
  }
  .con3 .character .charac_wrap .charac_head .face .lips {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-40%);
  }
  .con3 .character .charac_wrap .charac_head .face .lips span {
    width: 5%;
    height: 30%;

    border-radius: 50%;
    background: #000;
    display: block;
  }

  /* charac_body */
  .con3 .character .charac_wrap .charac_body {
    width: 170px;
    height: 300px;
    background: #fff;
    border: 3px solid #000;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;

    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
  }
  .con3.on .character .charac_wrap .charac_body {
    animation: charac_body 1.5s linear infinite;
  }
  @keyframes charac_body {
    0% {
      top: 31%;
    }
    50% {
      top: 33%;
    }
    100% {
      top: 31%;
    }
  }

  /* charac_foot */
  .con3 .character .charac_wrap .charac_foot {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
  .con3 .character .charac_wrap .charac_foot .footLeft {
    width: calc(100% / 2 - 5%);
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    background: #fff;
    border: 3px solid #000;
    transition: 0.5s;
  }
  .con3 .character .charac_wrap .charac_foot .footRight {
    width: calc(100% / 2 - 5%);
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    background: #fff;
    border: 3px solid #000;
    transition: 0.5s;
  }

  /* con3 txtwrap */
  .con3 .inner .txtwrap {
    width: 0%;
    height: 100%;
    min-width: 500px;
    position: relative;
    z-index: 10;
    /* transform: translateX(50%); */
  }
  .con3 .inner .txtwrap .con3_nav {
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    gap: 20px;
  }
  .con3 .inner .txtwrap .con3_nav li {
    width: 30%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
    cursor: pointer;

    background: linear-gradient(to top, #fff 10%, #ddd);

    border-radius: 50px;
    box-shadow: 0px 10px 0px #999;
    transition: 0.8s;
  }
  .con3.on .inner .txtwrap .con3_nav li.on {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #999;
    color: #fff;
    background: #333;
  }

  /* con3_site */
  .con3 .inner .txtwrap .con3_siteView {
    width: 100%;
    overflow: hidden;
  }
  .con3 .inner .txtwrap .con3_site {
    width: 300%;
    height: 90%;
    display: flex;
    position: relative;
    transition: 0.5s;
  }
  .con3 .inner .con3_site li {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 50px;

    position: absolute;
    transform: translateX(-100%);
  }
  .con3 .inner .con3_site li.on {
    position: relative;
    transform: translateX(0%);
    transition: 0.5s;
  }
  .con3 .inner .con3_site li h3 {
    font-size: 50px;
  }
  .con3 .inner .con3_site li p {
    line-height: 25px;
    margin: 50px 0px;
  }
  .con3 .inner .con3_site li .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .con3 .inner .con3_site li .skills span {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
  }
  .con3 .inner .con3_site li .skills .skill_html {
    color: #fff;
    background: linear-gradient(to top left, #de4b25 75%, #ff8d76 75%);
    border-color: #ff8d76;
  }
  .con3 .inner .con3_site li .skills .skill_css {
    color: #fff;
    background: linear-gradient(to top left, #159cd5 75%, #7bddff 75%);
    border-color: #7bddff;
  }
  .con3 .inner .con3_site li .skills .skill_js {
    color: #fff;
    background: linear-gradient(to top left, #ed9911 80%, #ffc62a 80%);
    border-color: #ffc62a;
  }
  .con3 .inner .con3_site li .skills .skill_jquery {
    color: #fff;
    background: linear-gradient(to top left, #0d5682 80%, #3d9dd8 80%);
    border-color: #3d9dd8;
  }
  .con3 .inner .con3_site li .skills .skill_illust {
    color: #f37300;
    background: #261300;
    border-color: #f37300;
  }
  .con3 .inner .con3_site li .skills .skill_photoshop {
    color: #2fa3f7;
    background: #001d34;
    border-color: #2fa3f7;
  }

  /* con3 conwrap */
  .con3 .conwrap {
    width: 100%;
    height: 100%;
    padding: 40px 0px;

    position: relative;
    top: 0%;
    right: 0%;
  }

  /* con3 pc view */
  .con3 .conwrap .pcView {
    width: 90%;
    height: 450px;
    padding: 15px;
    margin: 0px auto;
    border-radius: 50px;
    background: linear-gradient(to top left, #ccc, #777);
    box-shadow: 10px 10px 5px #777;

    position: relative;
    top: 0%;
    left: 0%;
    transition: 0.5s;
  }

  .con3 .conwrap .pcView .pcInner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 40px;
    position: relative;
  }
  .con3 .conwrap .pcView .pcInner li {
    position: absolute;
    transform: translateX(-100%);
  }
  .con3 .conwrap .pcView .pcInner li.on {
    transform: translateX(0%);
    transition: 0.5s;
  }
  .con3 .conwrap .pcView .pcInner img {
    width: 100%;
    display: block;
  }
  .con3 .conwrap .pcView .pcInner li.on img {
    animation: con3_pcView 40s infinite linear;
  }
  @keyframes con3_pcView {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-80%);
    }
  }

  /* con3 mobile view */
  .con3 .conwrap .mbView {
    width: 200px;
    height: 350px;
    padding: 10px;
    border-radius: 40px;
    background: linear-gradient(to top left, #ccc, #777);
    box-shadow: 10px 10px 5px #777;

    position: absolute;
    bottom: 0%;
    left: 2%;
  }
  .con3 .conwrap .mbView.none {
    display: none;
  }

  .con3 .conwrap .mbView .mbInner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 40px;
    position: relative;
  }
  .con3 .conwrap .mbView .mbInner li {
    position: absolute;
    transform: translateX(-100%);
  }
  .con3 .conwrap .mbView .mbInner li.on {
    transform: translateX(0%);
    transition: 0.5s;
  }
  .con3 .conwrap .mbView .mbInner img {
    width: 100%;
    display: block;
  }
  .con3 .conwrap .mbView .mbInner li.on img {
    animation: con3_mobileView 40s infinite linear;
  }
  @keyframes con3_mobileView {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-80%);
    }
  }
  .con3 .con3_site .go_site {
    display: inline-block;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    background: #999;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  .con3 .con3_site .go_site:hover {
    color: #000;
    background: #fff;
    border: 2px solid #999;
  }

  /* con4 */
  .con4 {
    padding: 40px;
    margin: 50px 0px;
  }
  .con4 .inner {
    display: flex;
  }
  .con4 .inner .charac_wrap .character_img {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .con4 .inner .charac_wrap img {
    width: 100%;
    display: block;
  }
  .con4 .inner .txt_wrap {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .con4 .inner .txt_wrap .txt_box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  .con4 .inner .txt_wrap .txt_box li {
    width: calc(100% / 2 - 50px);
  }
  .con4 .inner .txt_wrap .pictogram {
    display: none;
  }
  .con4 .inner .txt_wrap a {
    color: #000;
  }
  .con4 .inner .txt_wrap .txt_value p {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;

    padding-left: 5px;
  }
  .con4 .inner .txt_wrap .txt_inform p {
    margin-bottom: 30px;
    line-height: 30px;
  }
  .con4 .inner .txt_wrap .txt_inform p a {
    color: #fff;
    background: #000;
    padding: 0px 10px;
    display: inline-block;
  }
  .con4 .inner .txt_wrap .txt_inform p span {
    margin-left: 10px;
  }

  /* footer */
  #footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;
  }
  #footer .inner p {
    color: #fff;
  }

  .con4 .inner .txt_wrap .txt_box .txt_inform P {
    width: 100%;
    height: 100%;
  }
}

/* 화면너비 최대 768px */
@media (max-width: 768px) {
  .mouse {
    display: none;
  }
  .scroll_nav {
    display: none;
  }

  /* header */
  #header {
    width: 100%;
    height: 200px;
    justify-content: center;
  }
  #header .inner {
    display: flex;
    height: 100%;
    justify-content: center;
  }
  #header .inner h1 {
    width: 100%;
    height: 100%;
  }
  #header .inner a {
    width: 100%;
    height: 100%;
    display: block;
  }
  #header .inner a img {
    width: 100%;
    height: 100%;
    display: block;
  }

  /* visual */
  #visual {
    width: 100%;
    padding: 30px;
    color: #fff;
    background: #555;
  }
  #visual .inner {
    text-align: center;
  }
  #visual .inner .title {
    color: #999;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
  }
  #visual .inner .mtxt {
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 30px;
  }
  #visual .inner .small_txt {
    color: #999;
    line-height: 25px;
  }
  #visual .inner .sub_txt {
    line-height: 25px;
  }
  #visual .circle {
    display: none;
  }
  /* con1 */
  #con1 {
    padding: 30px;
  }
  #con1 .lineWhite {
    display: none;
  }
  #con1 .inner .name {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #000;
  }
  #con1 .inner .name .kr {
    font-size: 25px;
    font-weight: bold;
  }
  #con1 .inner .name .eng {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #con1 .inner .name p span {
    line-height: 25px;
    display: block;
    padding: 15px 0px;
    border-top: 1px solid #000;
  }
  #con1 .txtwrap {
    color: #555;
  }
  #con1 .inform_inner {
    padding: 20px;
  }
  #con1 .txtwrap h4 {
    font-size: 25px;
    font-weight: bold;
    line-height: 45px;
  }
  #con1 .txtwrap h4 span {
    width: 100%;
    height: 1px;
    background: #fff;
    display: block;
    margin-bottom: 5px;
  }
  #con1 .txtwrap .inform p {
    line-height: 25px;
    margin-top: 20px;
  }
  #con1 .txtwrap .inform p span {
    display: block;
  }
  #con1 .txtwrap .ability {
    padding: 20px;
  }
  #con1 .txtwrap .ability ul {
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    margin-top: 20px;
  }
  #con1 .txtwrap .ability li {
    width: 45%;
    margin: 5px;
  }
  #con1 .txtwrap .ability li > div {
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ef844b;
  }

  /* con2 */
  .con2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
  }
  .con2 .inner {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul li {
    width: 100%;

    position: relative;
  }
  .con2 .inner > ul li .shadow_wrap {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul li .shadow_wrap .shadow1 {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul li .shadow_wrap .shadow1 svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con2 .inner > ul li .shadow_wrap .shadow1 .st1 {
    width: 100%;
    height: 100%;
    fill: #595a5c;
    position: absolute;

    stroke: none;
  }

  .con2 .inner > ul li .con_box {
    width: 50%;
    height: 50%;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
  }
  .con2 .inner > ul li.on .con_box {
    width: 100%;
    height: 100%;
  }
  .con2 .inner > ul li .cBox1 {
    border: 10px solid #ffcd29;
  }
  .con2 .inner > ul li .cBox2 {
    border: 10px solid #559ed6;
  }
  .con2 .inner > ul li .cBox3 {
    border: 10px solid #8770b1;
  }
  .con2 .inner > ul li .cBox4 {
    border: 10px solid #f16a46;
  }
  .con2 .inner > ul li .cBox5 {
    border: 10px solid #29b35d;
  }
  .con2 .inner > ul li .cBox6 {
    border: 10px solid rgb(255, 121, 31);
  }

  /* con2 con_box */
  .con2 .inner > ul li .con_box .boxinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .con2 .inner > ul li .con_box img {
    width: 100%;
  }
  .con2 .inner > ul li .con_box:hover img {
    transition: 0.5s;
    transform: scale(1.3);
  }
  .con2 .inner > ul li.on .con_box img {
    transform: scale(1.3);
  }
  .con2 .inner > ul li .con_box .more {
    width: 100%;
    padding: 20px 20px;
    color: #fff;
    background: #000;

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
  }
  .con2 .inner > ul li.on .con_box .more {
    transition: 0.5s;
    transition-delay: 0.3s;
    transform: translateY(0%);
    cursor: pointer;
  }
  .con2 .inner > ul li.on .con_box .more p {
    display: inline-block;
  }
  .con2 .inner > ul li .con_box .more span {
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin-top: 4px;
    transition: 0.5s;
  }
  .con2 .inner > ul li .con_box .more:hover p span {
    width: 100%;
  }

  /* con3 */
  #con3 {
    padding: 40px;
    border: 1px solid #000;
  }

  #con3 .character {
    display: none;
  }

  /* con3 txtwrap */
  .con3 .inner .txtwrap {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 10;
  }
  .con3 .inner .txtwrap .con3_nav {
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .con3 .inner .txtwrap .con3_nav li {
    width: 30%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
    cursor: pointer;

    background: linear-gradient(to top, #fff 10%, #ddd);

    border-radius: 50px;
    box-shadow: 0px 10px 0px #999;
    transition: 0.8s;
  }
  .con3.on .inner .txtwrap .con3_nav li.on {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #999;
    color: #fff;
    background: #333;
  }

  /* con3_site */
  .con3 .inner .txtwrap .con3_siteView {
    width: 100%;
    overflow: hidden;
  }
  .con3 .inner .txtwrap .con3_site {
    width: 300%;
    height: 90%;
    display: flex;
    position: relative;

    transition: 0.5s;
  }
  .con3 .inner .con3_site li {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;

    position: absolute;
    transform: translateX(-100%);
  }
  .con3 .inner .con3_site li.on {
    position: relative;
    transform: translateX(0%);
    transition: 0.5s;
  }
  .con3 .inner .con3_site li h3 {
    font-size: 50px;
  }
  .con3 .inner .con3_site li p {
    line-height: 25px;
    margin: 50px 0px;
  }
  .con3 .inner .con3_site li .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .con3 .inner .con3_site li .skills span {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
  }
  .con3 .inner .con3_site li .skills .skill_html {
    color: #fff;
    background: linear-gradient(to top left, #de4b25 75%, #ff8d76 75%);
    border-color: #ff8d76;
  }
  .con3 .inner .con3_site li .skills .skill_css {
    color: #fff;
    background: linear-gradient(to top left, #159cd5 75%, #7bddff 75%);
    border-color: #7bddff;
  }
  .con3 .inner .con3_site li .skills .skill_js {
    color: #fff;
    background: linear-gradient(to top left, #ed9911 80%, #ffc62a 80%);
    border-color: #ffc62a;
  }
  .con3 .inner .con3_site li .skills .skill_jquery {
    color: #fff;
    background: linear-gradient(to top left, #0d5682 80%, #3d9dd8 80%);
    border-color: #3d9dd8;
  }
  .con3 .inner .con3_site li .skills .skill_illust {
    color: #f37300;
    background: #261300;
    border-color: #f37300;
  }
  .con3 .inner .con3_site li .skills .skill_photoshop {
    color: #2fa3f7;
    background: #001d34;
    border-color: #2fa3f7;
  }

  /* con3 conwrap */
  .con3 .conwrap {
    width: 100%;
    height: 200%;
    margin: 30px 0px;

    position: relative;
    top: 0%;
    right: 0%;
  }

  /* con3 pc view */
  .con3 .conwrap .pcView {
    width: 100%;
    height: 450px;
    padding: 15px;
    border-radius: 50px;
    background: linear-gradient(to top left, #ccc, #777);
    box-shadow: 10px 10px 5px #777;

    position: relative;
    top: 0%;
    left: 0;
    transition: 0.5s;
  }

  .con3 .conwrap .pcView .pcInner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 40px;
    position: relative;
  }
  .con3 .conwrap .pcView .pcInner li {
    position: absolute;
    transform: translateX(-100%);
  }
  .con3 .conwrap .pcView .pcInner li.on {
    transform: translateX(0%);
    transition: 0.5s;
  }
  .con3 .conwrap .pcView .pcInner img {
    width: 100%;
    display: block;
  }
  .con3 .conwrap .pcView .pcInner li.on img {
    animation: con3_pcView 40s infinite linear;
  }
  @keyframes con3_pcView {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-80%);
    }
  }

  /* con3 mobile view */
  .con3 .conwrap .mbView {
    display: none;
  }
  .con3 .con3_site .go_site {
    display: inline-block;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    background: #999;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  .con3 .con3_site .go_site:hover {
    color: #000;
    background: #fff;
    border: 2px solid #999;
  }

  /* con4 */
  .con4 .inner .txt_wrap .txt_box {
    display: block;
    align-items: center;
    padding: 0px;
  }
  .con4 .inner .txt_wrap .txt_box li {
    width: 100%;
  }

  /* con4 */
  .con4 {
    width: 100%;
    padding: 40px 0px;
  }
  .con4 .inner {
    width: 100%;
    height: 100%;
  }

  /* con4 charac_wrap */
  .con4 .inner .charac_wrap {
    display: none;
  }

  /* con4 txt_wrap */
  .con4 .inner .txt_wrap {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con4 .inner .txt_wrap .txt_box {
    width: 100%;
    max-width: 600px;

    height: 60%;
    display: flex;
    flex-direction: column;

    row-gap: 2px;
  }
  .con4 .inner .txt_wrap .txt_box li {
    width: 100%;
    height: calc(100% / 4);
    display: flex;
    align-items: center;
    overflow: hidden;

    cursor: pointer;
  }

  .con4 .inner .txt_wrap .txt_box .txt_value {
    width: 30%;
    max-width: 180px;
    height: 100%;

    font-size: 18px;
    padding: 20px 10px;
    background: linear-gradient(to top left, #f16a46 20%, #154b98 50%);
    overflow: hidden;

    position: relative;
    z-index: 1;
  }

  /* con4 txt_value image */
  .con4 .inner .txt_wrap .txt_box .txt_value .pictogram {
    display: none;
  }

  /* con4 txt_value p */
  .con4 .inner .txt_wrap .txt_box .txt_value p {
    color: #fff;
  }

  .con4 .inner .txt_wrap .txt_box .txt_value .txt_hole {
    display: none;
  }

  .con4 .inner .txt_wrap .txt_box .txt_inform {
    width: 70%;
    height: 100%;

    font-size: 18px;
    font-weight: bold;
    padding: 20px 10px;
    background: #ccc;
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: 0.3s;

    position: relative;
    transform: translateX(-100%);
  }
  .con4.on .inner .txt_wrap .txt_box .txt_inform {
    transform: translateX(0%);
    transition: 0.5s;
  }

  .con4 .inner .txt_wrap .txt_box li:hover .txt_inform {
    background: linear-gradient(to top right, #f16a46 20%, #154b98 50%);
    transition-delay: 0.3s;
  }
  .con4 .inner .txt_wrap .txt_box li:hover .txt_inform a {
    color: #fff;
    transition-delay: 0.3s;
  }
  .con4 .inner .txt_wrap .txt_box li:hover .txt_inform {
    animation: ticketTear 0.3s forwards;
  }
  @keyframes ticketTear {
    0% {
      width: 70%;
    }

    80% {
      width: 60%;
    }

    90% {
      width: 70%;
      margin-left: 0px;
    }
    100% {
      margin-left: 25px;
    }
  }

  .con4 .inner .txt_wrap .txt_box .txt_inform .txt_hole {
    display: none;
  }
  .con4 .inner .txt_wrap .txt_box .txt_inform .txt_hole span {
    width: 100%;
    padding: calc(100% / 2);

    border-radius: 50%;
    background: #fff;
    display: block;
  }
  .con4 .inner .txt_wrap .txt_box .txt_inform P {
    width: 100%;
    height: 100%;
  }
  .con4 .inner .txt_wrap .txt_box .txt_inform a {
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .con4 .inner .txt_wrap .txt_box .txt_inform a span {
    font-size: 13px;
    color: #999;
    animation: con4_inform_arrowMove 1s infinite linear;
  }
  @keyframes con4_inform_arrowMove {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-70%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .con4 .inner .txt_wrap .txt_box .txt_inform a span.on {
    opacity: 0;
  }

  /* footer */
  #footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;
  }

  #footer .inner p {
    color: #fff;
  }
}
